mdb-archive-email.flow
[{"id":"e146ea3c.9ece88","type":"inject","z":"d70d333f.1d3d3","name":"","topic":"","payload":"","payloadType":"date","repeat":"172800","crontab":"","once":false,"onceDelay":0.1,"x":120.5,"y":46,"wires":[["59ebb673.da1098","d3ad7036.8ab33"]]},{"id":"c00e8717.582048","type":"exec","z":"d70d333f.1d3d3","command":"mongodump --archive=/home/username/mongo-bak.archive","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":604.5,"y":99.5,"wires":[["e937788a.a98508"],[],[]]},{"id":"569bb311.39e29c","type":"file in","z":"d70d333f.1d3d3","name":"","filename":"","format":"stream","chunk":false,"sendError":false,"x":370.5,"y":173,"wires":[["ff872aa1.c4fda8"]]},{"id":"114e18ed.659d67","type":"function","z":"d70d333f.1d3d3","name":"add timestamp & payloader to exec","func":"msg.time = msg.payload;\nmsg.payload = flow.get('filename');\nreturn msg;","outputs":1,"noerr":0,"x":226.5,"y":99,"wires":[["c00e8717.582048"]]},{"id":"ddb01631.05ed48","type":"e-mail","z":"d70d333f.1d3d3","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":497.5,"y":246,"wires":[]},{"id":"ff872aa1.c4fda8","type":"function","z":"d70d333f.1d3d3","name":"make msg.attachment ","func":"msg.attachment = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":535.5,"y":169,"wires":[["1f052e0c.032ad2"]]},{"id":"1f052e0c.032ad2","type":"function","z":"d70d333f.1d3d3","name":"","func":"msg.topic=  \"mongodb backup for \" + flow.get('sitename') + \" :\" + flow.get('timestamped');\nmsg.description = \"mongo mongodb backup created: timestamp: \" + flow.get('timestamped');\nmsg.filename = \"mongo-bak-\" + msg.time + \".archive\";\nmsg.attachments = [msg.attachment];\nreturn msg;","outputs":1,"noerr":0,"x":276.5,"y":244,"wires":[["ddb01631.05ed48"]]},{"id":"59ebb673.da1098","type":"function","z":"d70d333f.1d3d3","name":"CREDENTIALS","func":"flow.set('sitename', \"YourSitesName Or Whatever\");\nflow.set('timestamped', msg.payload);\n//flow.set('filename', '/home/username/mongo-bak.archive')\n\n\nreturn msg;","outputs":1,"noerr":0,"x":382.5,"y":20,"wires":[[]]},{"id":"e937788a.a98508","type":"function","z":"d70d333f.1d3d3","name":"trans filename","func":"msg.filename = flow.get('filename');\nreturn msg;","outputs":1,"noerr":0,"x":238.5,"y":167,"wires":[["569bb311.39e29c"]]},{"id":"f3a9c144.e31c4","type":"comment","z":"d70d333f.1d3d3","name":"README","info":"This flow will create a mongodb backup of all your\ndatabases and attempt to email them to an email.\n\nAdjust the CREDENTIALS node to customize \nyour outgoing email info etc...\n\nAdjust the Timestamp to create incremental backups.\n\nBe sure to update the exec node to update\nthe archive file location. This doesn't work\nwhen value stored as flow.set and appended to \nexec. So for now, just enter location in exec node.\n\n\n","x":109.5,"y":23,"wires":[]},{"id":"d3ad7036.8ab33","type":"delay","z":"d70d333f.1d3d3","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":266.5,"y":77,"wires":[["114e18ed.659d67"]]}]
